body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 50px;
  backdrop-filter: blur(5px);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  margin-right: 10px;
}

.logo h1 {
  color: black;
  font-size: 1.5em;
  margin: 0;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  color: rgb(36, 34, 34);
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

.contribute-btn {
  background-color: rgb(89, 177, 30);
  color: #eee8e8;
  padding: 10px 15px;
  border-radius: 20px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  font-weight: bold;
  cursor: pointer;
}

.contribute-btn:hover {
  background-color: #f0f5f7;
  color: rgb(89, 177, 30);
}

.hero {
  background-image: url("img/image_upscayl_4x_realesrgan-x4plus.png");
  background-attachment: fixed;
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  height: 100vh;
  width: 100vw; 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.hero-content h1 {
  font-size: 3.5em;
  margin: 0.5em 0;
  font-family: "Georgia", serif;
  color: rgb(244, 244, 250);
}

.hero-content .btn {
  padding: 15px 30px;
  font-size: 1em;
  background-color: #f5f9fa;
  color: rgb(89, 177, 30);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.hero-content .btn:hover {
  background-color: rgb(89, 177, 30);
  color: rgb(243, 248, 239);
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 180px 20px;
  background-color: #eee9e9;
}

.about-container {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  align-items: center;
  flex-wrap: wrap;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-container {
  flex: 1;
  max-width: 600px;
}

.text-container h4 {
  color: #6a8a4e;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 18px;
}

.text-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #004e2e;
}

.text-container p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #181717;
  justify-content: center;
  gap: 20px;
}

/* Bagian Fitur */
.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px 20px;
  background-color: #fff;
}

.feature {
  flex: 1;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.feature h3 {
  color: #88c057;
  margin-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
}

.feature h2 {
  font-size: 20px;
  color: #333;
}

.feature img {
  width: 450px;
  height: 250px;
}

.section-title-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  text-align: center;
  margin: 0; 
}

.section-title {
  font-size: 3em; 
  font-weight: bold;
  color: #004e2e;
  text-transform: uppercase;
}

/* Footer Styles */
.footer {
  background-color: rgb(90, 153, 53);
  color: white;
  padding: 20px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer-section p,
.footer-section a {
  font-size: 14px;
  line-height: 1.6;
  color: white;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #ffffff33;
  padding-top: 10px;
}

